// chat-box styles
chat-box
    diaplay: inline-block
    position: fixed
    bottom: 20px
    right: 20px

.chat-box
    padding-inline: 10px
    display: flow-root
    outline: 2px solid rgba(blue,.3)
    min-height: 100%

    .h
        display: none

    &__message
        &.left
            padding-right: 30px

        &.right
            padding-left: 30px

        &:first-child
            margin-top: 10px

    &__option
        // transition: max-height 2s ease-out
        overflow: hidden

        &.fade-out
            transition: max-height 400ms ease-out, opacity 200ms

            &[style]
                opacity: 0

            &.go
                max-height: 0 !important

        &-inner
            button
                text-align: left

                > *
                    pointer-events: none

            .right &
                text-align: right

    &__outer
        outline: 2px solid rgba(red,.3)
        position: absolute
        right: 0
        bottom: 30px
        width: 300px
        height: 500px
        overflow-y: scroll
        scrollbar-width: none